.meuNome {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.qualidades {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}

.redeSocial {
  display: flex;
  justify-content: column;
  align-items: center;
  padding: 10px;
  margin: 0 10px;
}

.redeSocial:visited {
  color: black;
}

.redeSocial a{
  margin: 5px 0;;
}

.sobreMim {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}
.fotoPerfil {
  border-radius: 50%;
  width: 20%;
}

body {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.toolbar{
  display: flex;
  justify-content: flex-end; /* Ajusta para a direita */
  align-items: flex-start;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  position: fixed; /* Fixa a barra no topo */
  top: 0; /* Coloca a barra no topo da tela */
  right: 0; /* Coloca a barra à direita */
  z-index: 1000;
}

.botaoToolbar{
  margin: 0 10px;
}
