.meuNome {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.qualidades {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}

.redeSocial {
  display: flex;
  justify-content: column;
  align-items: center;
  padding: 10px;
  margin: 0 10px;
}

.redeSocial:visited {
  color: black;
}

.redeSocial a{
  margin: 5px 0;;
}

.sobreMim {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}
.fotoPerfil {
  border-radius: 50%;
  width: 20%;
  border: 0.1px solid rgb(255, 255, 255);
  box-shadow: 5px 5px 20px 20px rgba(0, 0, 0, 0.1);
}

body {
  background: #adbfee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.toolbar{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #d2f5aa;
  z-index: 1000;
  width: 100%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.botaoToolbar{
  margin: 0 10px;
}

.info{
  text-align: center;
  margin-left: 30px;
  vertical-align: baseline;
  border: 0.1px solid rgb(255, 255, 255);
  box-shadow: 5px 5px 20px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

.informes{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.informes p{
  margin: 0;
  padding: 0 10px;
}
