.meuNome {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: a;
  margin: auto;
}

.qualidades {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: black;
}

.redeSocial {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.redeSocial:visited {
  color: black;
}

.sobreMim {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.fotoPerfil {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}


body {
  background: linear-gradient(to bottom, rgb(156, 155, 155), black);
  background-size: 400% 400%;
  animation: gradient 1s ease infinite;
}

h3 {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

button {
  background-color: black;
  border: none;
  color: gold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 5px;
}

button:hover {
  background-color: purple;
  color: gold;
}
